.Pokemon-list-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Card {
  margin-top: 15px;
}

.Buttons-row {
  margin-bottom: 20px;
}

.Card-title {
  text-transform: capitalize;
  font-size: 21px;
}
